body{
  background:#232D3F
}

.typography{
  text-align: center;
  color:white
}
.input-field{
  color:white;
}
main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap:10px;
  margin:2em;
}
.set-todos {
  color:white;
  background-color: cadetblue;
  cursor: pointer;
}
.remove-todos{
  color:white;
  background-color: crimson;
  cursor: pointer;
}
.Todo{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color:white;
  padding:2rem;
  background-color: #243042b0;
  border-radius: 23px;
  box-shadow: 10px 4px 5px #1a212e;
  margin-bottom:2rem;
}
.Todo > button{
  color:white;
  font:bold;
  background-color: crimson;
  cursor: pointer;
}

.select-table{
  width: 20px;
}


.menu-item{
  color:white;
  font:bold;
  font-weight: 800;
}

.form-control{
  background-color: rgb(255, 255, 255);
  width: 200px;
  font:bold;
  border-radius: 8px;
  font-weight: 800;
}

.input-table{
  width: 120px;
  color:black;
  font:bold;
  font-weight: 800;
}